<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meeting #<%= @meeting.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

              <h3>Network: <%= @meeting.network.name %></h3>
              <h3>Meeting date: <%= @meeting.met_on %></h3>

              <table class = "table">
                <tr>
                  <th width = "40%">Teacher</th>
                  <th width = "30%">Attendance</th>
                  <th width = "30%">Theme Id</th>
                </tr>
              <% @teachers.each do |teacher| %>
                <tr>
                <td><%= teacher.name %></td>
                <td><%= teacher.attendances.find_by( :meeting_id => @meeting ).attendance %></td>
                <td><%= teacher.attendances.find_by( :meeting_id => @meeting ).theme_id %></td>
                </tr>
              <% end %>

              </table>

            </dl>


            <div class="btn-group btn-group-justified">
              <a href="/meetings" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/meetings/<%= @meeting.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_meeting/<%= @meeting.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
