<div class="page-header">
  <h1>
    Teachers
    <a href="/teachers/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Teachers (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @teachers.each do |teacher| %>

  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Teacher #<%= teacher.id %></h3>
      </div>
      <div class="panel-body">
      <table class = "table table-condensed">
        <tr>
          <td rowspan = 3 width = "34%"><img src="<%= teacher.avatar %>" class="img-responsive" width="150"></td>
          <td width = "33%">
            <dl>
              <dt>Name</dt>
              <dd><%= teacher.name %></dd></td>
            </dl>
          </td>
          <td width = "33%">
            <dl>
              <dt>Address</dt>
              <dd><%= teacher.address %></dd>
            </dl>
        </tr>
        <tr>
          <td>
            <dl>
            <dt>Network</dt>
              <dd><%= teacher.network.name %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Phone number</dt>
              <dd><%= teacher.phone_number %></dd>
            </dl>
          </td>
        </tr>
        <tr>
          <td>
            <dl>
              <dt>School</dt>
              <dd><%= teacher.school.name %></dd>
            </dl>
          </td><td>
            <dl>


              <dt>Current Theme</dt>
              <dd><%= Theme.find_by({ :id => teacher.attendances.last.theme_id}).name if teacher.attendances.last != nil %></dd
            </dl>
          </td>
        </tr>
      </table>
        <dl>

        <div class="btn-group btn-group-justified">
          <a href="/teachers/<%= teacher.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/teachers/<%= teacher.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_teacher/<%= teacher.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
