<h2>Please update the attendance status for the teachers in the
<%= @network.name %> Network for the meeting on <%= @meeting.met_on %>
</h2>
<!-- Validation failure messages - Removed temporarily -->



<!-- Validation failure messages - DELETED for now-->


<!-- Responsive panel example -->

<% @network.teachers.each do |teacher| %>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= teacher.name %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_attendance/<%= teacher.attendances.find_by( :meeting_id => @meeting_id ).id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for meeting_id -->


          <!-- Label and input for teacher_id -->


          <!-- Label and input for attendance -->
          <div class="form-group">
            <label for="attendance" class="col-sm-2 control-label">
              Attendance
            </label>
            <div class="col-sm-10">
              <%= select_tag :attendance, options_for_select(@options, teacher.attendances.find_by( :meeting_id => @meeting_id ).attendance), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for note -->
          <div class="form-group">
            <label for="note" class="col-sm-2 control-label">
              Note
            </label>
            <div class="col-sm-10">
              <input type="text" id="note" name="note" placeholder="Note" class="form-control" value="<%= teacher.attendances.find_by( :meeting_id => @meeting_id ).note %>">
            </div>
          </div>

          <!-- Label and input for theme_id -->
          <div class="form-group">
            <label for="theme_id" class="col-sm-2 control-label">
              Theme
            </label>
            <div class="col-sm-10">
              <input type="text" id="theme_id" name="theme_id" placeholder="Theme" class="form-control" value="<%= teacher.attendances.find_by( :meeting_id => @meeting_id ).theme_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Attendance
              </button>
              or
              <a href="/attendances/<%= teacher.attendances.find_by( :meeting_id => @meeting_id ).id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% end %>

<!-- End responsive panel example -->


<!-- Responsive panel example -->


<!-- End responsive panel example -->

