<!-- Validation failure messages -->

<% if @attendance.errors.any? %>
  <% @attendance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Attendance #<%= @attendance.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_attendance/<%= @attendance.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for meeting_id -->
          <div class="form-group">
            <label for="meeting_id" class="col-sm-2 control-label">
              Meeting
            </label>
            <div class="col-sm-10">
              <input type="text" id="meeting_id" name="meeting_id" placeholder="Meeting" class="form-control" value="<%= @attendance.meeting_id %>">
            </div>
          </div>

          <!-- Label and input for teacher_id -->
          <div class="form-group">
            <label for="teacher_id" class="col-sm-2 control-label">
              Teacher
            </label>
            <div class="col-sm-10">
              <input type="text" id="teacher_id" name="teacher_id" placeholder="Teacher" class="form-control" value="<%= @attendance.teacher_id %>">
            </div>
          </div>

          <!-- Label and input for attendance -->
          <div class="form-group">
            <label for="attendance" class="col-sm-2 control-label">
              Attendance
            </label>
            <div class="col-sm-10">
              <input type="text" id="attendance" name="attendance" placeholder="Attendance" class="form-control" value="<%= @attendance.attendance %>">
            </div>
          </div>

          <!-- Label and input for note -->
          <div class="form-group">
            <label for="note" class="col-sm-2 control-label">
              Note
            </label>
            <div class="col-sm-10">
              <input type="text" id="note" name="note" placeholder="Note" class="form-control" value="<%= @attendance.note %>">
            </div>
          </div>

          <!-- Label and input for theme_id -->
          <div class="form-group">
            <label for="theme_id" class="col-sm-2 control-label">
              Theme
            </label>
            <div class="col-sm-10">
              <input type="text" id="theme_id" name="theme_id" placeholder="Theme" class="form-control" value="<%= @attendance.theme_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Attendance
              </button>
              or
              <a href="/attendances/<%= @attendance.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
